@{
    ViewData["Title"] = "ListAuctions";
}

@{
    string? currentRole = ViewContext.HttpContext.Session.GetString("UserRole");
}

<!-- Muestra el contenido si el usuario está loggeado -->
@if (currentRole != null)
{
    <!-- Define el modelo a usar -->
    @model InterfazUsuario.Models.ListAuctionsViewModel

    <div class="text-center">
        <h1 class="display-4">Subastas</h1>
    </div>

    @if (Model.Subastas != null && Model.Subastas.Any())
    {
        <div class="spaced frame">
            <table class="table custom-row-height">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Articulos</th>
                        <th>Cliente</th>
                        @if (currentRole == "Administrador")
                        {
                            <th>Administrador</th>
                        }
                        <th>Fecha fin</th>
                        <th>Ofertas</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Subastas.Count; i++)
                    {
                        var subasta = Model.Subastas[i];
                        decimal precio = 0;
                        for (int j = 0; j < subasta.Ofertas.Count; j++)
                        {
                            decimal precioTemp = subasta.Ofertas[j].Monto;
                            if (precioTemp > precio)
                            {
                                precio = precioTemp;
                            }
                        }
                        <tr>
                            <td>@subasta.Id</td>
                            <td>@subasta.Nombre</td>
                            <td>@subasta.Estado</td>
                            <td>@subasta.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@subasta.Articulos.Count</td>
                            <td>@subasta.Cliente?.Nombre</td>
                            @if (currentRole == "Administrador")
                            {
                                <td>@subasta.Administrador?.Nombre</td>
                            }
                            <td>
                                @if (subasta.FechaFin != DateTime.MinValue)
                                {
                                    @subasta.FechaFin.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>@subasta.Ofertas.Count</td>
                            <td>$@precio</td>
                            <td>
                                @if (subasta.Estado.ToUpper() == "ABIERTA" && currentRole == "Cliente")
                                {
                                    <a href="/Publications/AuctionDetails/@subasta.Id" class="btn btn-primary">Ofertar</a>
                                }
                                else if (currentRole == "Administrador")
                                {
                                    <a href="/Publications/AuctionDetails/@subasta.Id" class="btn btn-primary">Administrar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">Acceso restringido</h1>
        <label>Ir a login</label>
        <!-- Botón con redirección a la página de login -->
        <a href="/Account/Login" class="btn btn-primary">Login</a>
    </div>
}
