
@{
    ViewData["Title"] = "CloseAuction";
}

@{
    string? currentRole = ViewContext.HttpContext.Session.GetString("UserRole");
}

<!-- Muestra el contenido si el usuario está loggeado como administrador -->
@if (currentRole == "Administrador")
{
    <div class="text-center">
        <h1 class="display-4">Cerrar</h1>
    </div>

    <div class="widest spaced frame">
        @if (ViewBag.Subasta != null)
        {
            <div class="spaced">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Articulos</th>
                            <th>Fecha fin</th>
                            <th>Ofertas</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal precio = 0;
                            for (int i = 0; i < @ViewBag.Venta.Articulos.Count; i++)
                            {
                                decimal precioTemp = @ViewBag.Venta.Articulos[i].Precio;
                                if (@ViewBag.Venta.OfertaRelampago)
                                {
                                    precioTemp = (precioTemp * 80) / 100;
                                }
                                precio += precioTemp;
                            }
                        }
                        <tr>
                            <td>@ViewBag.Venta.Id</td>
                            <td>@ViewBag.Venta.Nombre</td>
                            <td>@ViewBag.Venta.Estado</td>
                            <td>@ViewBag.Venta.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@ViewBag.Venta.Articulos.Count</td>
                            <td>@(ViewBag.Venta.OfertaRelampago ? "Sí" : "No")</td>
                            <td>$@precio</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="spaced">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < @ViewBag.Venta.Articulos.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.Venta.Articulos[i].Nombre</td>
                                <td>@ViewBag.Venta.Articulos[i].Categoria</td>
                                <td>$@ViewBag.Venta.Articulos[i].Precio</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <form method="post">
            <input type="submit" value="Confirmar compra" class="btn btn-primary" />
        </form>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="widest spaced alert alert-danger">
            @ViewBag.Mensaje
        </div>
    }

    @if (ViewBag.Confirmacion != null)
    {
        <div class="widest spaced alert alert-info">
            @ViewBag.Confirmacion
        </div>
    }

    <div class="align-center widest frame action-container">
        <p>Haga click aquí para volver a los detalles de la venta</p>
        <!-- Botón con redirección a la página de Listar Publicaciones -->
        <a href="/Publications/ListPublications" class="btn btn-outline-secondary">Volver</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Acceso restringido</h1>
        <label>Ir a login</label>
        <!-- Botón con redirección a la página de login -->
        <a href="/Account/Login" class="btn btn-primary">Login</a>
    </div>
}

